body {
    background-color: rgb(61,90,128);
}


.contacts  {
    position: relative; 
   } 

.container {
    border: solid 3px white;
    text-align: justify; 
    /* float: center; */
    width: 600px;
    height: auto;



	margin: 0px auto;
    padding: 20px;

    background-color:rgb(210, 209, 214);
}

.container h1 {
    font-size: 30px;
}


.contacts li {
   

    font: 14pt sans-serif; 
    margin-left: 200px;
    padding-top: 5px;

      
} 

.contacts ul {
    top: 60px;
    position: absolute;
    margin-top: auto;
    padding-top: 10px;
    
}

.contacts h2  {
    width: 300px;
    margin-top: 40px;
    margin-left: 280px; 
   
} 

img {
    width: 200px; 
    height: 210px;
}

h1 {

    width: 300px;
    top: 60px;
    left: 650px;
    margin-top: 10px;

    color: rgb(0, 0, 0);
    position: absolute;
}

h2 {

    background-color: rgb(61,90,128);
    padding: 5px 10px;
    color: white;
}

p {
    margin-left: 5px;
    font: normal 18px Arial;
}

li {
    text-align: left;
    list-style-type: none;
    font: 18px Arial;
}

